/node_modules
# Logs
logs
*.log

# environment files
.DS_Store
.env
.env.local
.env.development.local

# package files
package-lock.json
yarn.lock
pnpm-lock.yaml

# packages ignore
**/node_modules
**/dist
**/build